################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StefaniniTask/.vs
/StefaniniTask/obj
/StefaniniTask/bin
